@import 'varables'
@import 'mixins'

body, html
  color: $primary-color
  font-family: $font-stack

.container
  display: flex
  margin: 0 auto
  max-width: 1200px
  width: 100%

  @media screen and (max-width: 1600px)
    max-width: 90%

.col--2
  +size(2)

.col--3
  +size(3)

.col--6
  +size(6)

.col--9
  +size(9)

.col--12
  +size(12)


h1, h2, h3, h4, h5, h6, p
  margin-top: 0

input[type='submit'], button
  cursor: pointer

.no-webp
  pointer-events: auto

.webp
  pointer-events: auto
